<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script defer src="/socket.io/socket.io.js" ></script>
    <script defer src="chatroom.js" ></script>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <div class="container">
        <div class="message left">
            ABC: Hey!
        </div>
        <div class="message right">
            Kartick: Hi! 
        </div>
    </div>

    <div class="send">
        <form action="#" id="send_container">
            <input type="text" name="messageInp" id="messageInp">
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
    
</body>
</html>