<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div class="con">
        <div class="main" id="mtop">
                <nav>
                    <a href="" id="brand">Peer-Connect&emsp;&nbsp;</a>
                    <% if(!currentUser) {%>
                        <a class="nav-link" href="/register">Register</a>
                        <a class="nav-link" href="/login">Login</a>
                    <% }else{ %>
                        <a class="nav-link" href="/logout">Logout</a>  
                    <% } %> 
                </nav>
                
                <div class="mainchild1">
                        <% if(success && success.length){%>
                            <p class="error" style="color:green;"><%=success%></p>
                        <%}%>
                                
                        <% if(error && error.length){%>
                            <p class="error"><%=error%></p>   
                        <%}%>
                    <p class="text-main">Lorem ipsum dolor sit amet, consectetur adipiscing<br>elit. Mauris non pretium neque, et vestibulum ipsum.<br> Proin magna lectus, vulputate vitae laoreet<br> vulputate, lacinia eu augue. elit, non n et enim ac<br> libero condimentum volutpat.</p>
                    <a href="/<%= idr %>" style="text-decoration: none;"><button class="new_meet">Start New Meeting</button></a>
                </div>
        </div>

        <div class="main" style="margin-top: 2%;" id="phoneimg">
            <img src="2724268.svg" alt="" srcset="" id="Meet">  
        </div>             
    </div>
    </div>
</body>
</html>
