<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="main_cont">
        <div class="main" id="m1">
                <nav>
                    <a href="" id="brand">Teams&emsp;&nbsp;</a>
                    <% if(!currentUser) {%>
                        <a class="nav-link" href="/register">Register</a>
                        <a class="nav-link" href="/login">Login</a>
                    <% }else{ %>
                        <a class="nav-link" href="/logout">Logout</a>  
                    <% } %> 
                </nav>
                
                <div class="mainchild1">
                        <% if(success && success.length){%>
                            <p class="error" style="color:green;"><%=success%></p>
                        <%}%>
                                
                        <% if(error && error.length){%>
                            <p class="error"><%=error%></p>   
                        <%}%>
                    <p class="text-main">Teams is a platform for people to connect with each other<br> from the comfort of their homes. You can create your own<br> room or join one if authorised by the host.</p>
                    <a href="/room" style="text-decoration: none;"><button class="new_meet">Create Room</button></a>
                </div>
        </div>

        <div class="main" style="margin-top: 2%;" id="phoneimg">
            <img src="2724268.svg" alt="" srcset="" id="Meet">  
        </div>             
    </div>
    </div>
</body>
</html>
