<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End Call</title>
</head>
<link rel="stylesheet" href="leave_room.css">
<body>
    <div id="main_text">
        <span id="text">
            Thank You for Using Peer-Connect.<br>
            You have successfully left the call room!
        </span>
    </div>
</body>
</html>