<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <% if(success && success.length){%>
        <div class="alert alert-success alert-dismissible fade show">
            <%= success %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
        
        <% if(error && error.length){%>
            <div class="alert alert-danger alert-dismissible fade show">
                <%= error %> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <%}%>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <div>
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div>
            <input type="email" name="email" id="email" placeholder="Enter email">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="enter password">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>