@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


*{
    font-family: "Poppins", sans-serif;
}

body,html{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#main-heading{
    color:snow;
    font-size: 40px;
    margin-left: 8.2%;
    margin-top: 3%;
    margin-bottom: 1.5%;
}
#main{
    margin-left:8%;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 23, 56, 12, 0.2 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height:550px;
    max-height: max-content;
    align-items: center;
}

#icon{
    color:white;
    font-size:27px;
}
#video,#mic{
    /* background: #147502; */
    background-color: red;
    padding: 0.5%;
    border: 1px solid snow;
    outline:none;
    border-radius: 9px;
    margin-left:8.2%;
    margin-top:2%;
}
#end_call{
    margin-left:27.5%;
    background: red;
    color:snow;
    font-size: 20px;
    padding:1%;
    border-radius: 9px;
    border:none;
}
#invite{
    background: transparent;
    padding: 0.5%;
    border: 1px solid snow;
    outline:none;
    border-radius: 9px;
    margin-left: 27%;
}

video{
    width:45%;
    height:100%;
    object-fit: cover;
    border-radius: 9px;
    border: 2px solid white;
    margin: 2%;
    align-tracks: center;
    /* margin-left: 2%;
    margin-bottom: 2%; */

}

.chat_container{
    height:550px;
    transform: translateY(-2.4%);
    /* max-height:max-content; */
    width: 85%;
    max-width:85%;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 23, 56, 12, 0.2 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    margin-left:16%;
    border-radius: 10px;
    overflow-y:auto;
    margin-bottom: 2%;
}
.message{
    background: rgba( 70, 70, 117, 0.57 );
    box-shadow: 0 3px 15px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color:snow;
    width:40%;
    padding:1%;
    margin: 2% 1%;
    border-radius: 5px;
    border: 2px solid snow;
    font-size: 15px;
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}

#send_container{
    margin-left:16%;
    text-align: center;
    width:86%;

}
#messageInp{
    width:89%;
    margin:none;
    border: 2px solid black;
    border-radius:6px;
    height:34px;
    display: inline-block;
    outline: none;
}

.send_btn{
    display: inline-block;
    cursor: pointer;
    /* border: 2px solid white; */
    color: snow;
    background: transparent;
    border-radius: 6px;
    height:max-content;
}

#m2{
    margin-left:3%;
    display:inline-block;
    width: 40%;
}
#m1{
    display:inline-block;
    width: 50%;
}
